.products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; 
    gap: 10px;
}

.products .image  {
    width: 50%;
}

.products .image img {
    width: 100%;
}

.products .text {
    font-size: 20px;
    width: 50%;
}

.products .text p {
    color: #424B5A;
}


.products ul img {
    width: 90px;
}

.products  ul  span {
    font-size: 20px;
    color: #2C3137;
}

.products ul {
    list-style:  none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    
}

.products ul li {
    display: flex;
    align-items: center;
    
}



@media (min-width : 350px) and (max-width : 575px){
    
    .products .image {
        display: none;
    }
    .products .text {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
    
}
@media (min-width : 576px) and (max-width : 767px){
    .products .image {
        display: none;
    }
    .products .text {
        text-align: center;
        font-size: 23px;
        width: 100%;
    }
    
}
@media (min-width : 768px) and (max-width : 991px){
    

}
@media (min-width : 992px) and (max-width : 1200px){
    
}
