.projects {
    text-align: center;
    background-image: url('https://appssquare-website.vercel.app/bg/projects.png');
    padding: 20px 0;
    margin: 0 -29px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

.projects .image img {
    width: 800px;

}

.projects .contact {
    background-image: url('https://appssquare-website.vercel.app/bg/bg-ai.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.projects .contact .text {
    width: 450px;
    font-size: 22px;
    text-align: left;
}

a {
    text-decoration: none;
    padding : 8px;
    color : white ; 
    background-color : #00ccff ;
    border-radius : 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}


a:hover {
    background-color: #0099cc;
    transform: scale(1.05);
}

.buttons {
    display :flex ;
    justify-content : center ;
    align-items : center ;
    gap : 60px ;
    margin-bottom: 40px;
}

@media (min-width : 350px ) and (max-width : 575px) {
    .projects .text {
        font-size: 15px;
    }
    .projects .image img {
        width: 400px;
    
    }
    .hand {
        display: none;
    }
    
}


@media (min-width : 576px) and (max-width : 767px){
    .projects .text {
        font-size: 18px;
    }
    .projects .image img {
        width: 600px;
    
    }
}

@media (min-width : 768px) and (max-width : 991px){
    .projects .text {
        font-size: 20px;
    }
    .projects .image img {
        width: 700px;
    }

}